<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.78" targetFramework="net472" />
  <package id="Dapper.Contrib" version="2.0.78" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net472" />
  <package id="Npgsql" version="4.0.9" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net472" />
  <package id="SkiaSharp.Views.Forms" version="1.68.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net472" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin" version="2021.1.224.1" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.CMapUtils" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.Core" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.Fixed" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.Flow" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.Flow.FormatProviders.Pdf" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.Spreadsheet" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.Spreadsheet.FormatProviders.OpenXml" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.Spreadsheet.FormatProviders.Pdf" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.Spreadsheet.FormatProviders.Xls" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Documents.SpreadsheetStreaming" version="2021.1.222" targetFramework="net472" />
  <package id="Telerik.UI.for.Xamarin.Zip" version="2021.1.222" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.8.0.1269" targetFramework="net472" />
</packages>